@use "./button.scss";
@import "./partials/palette";
@import "./partials/devices";

@media only screen and (max-width: $sm) {
    .header {
        &__title {
            color: $saffron;
            margin-top: 50px;
            font-size: 10vw;

            &--secondary {
                margin: 0px;
                font-size: 5vw;
            }
        }
    }

    .about {
        margin: 20px;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: rgb(206, 206, 206);
        text-align: center;
        background-color: $russian-violet;

        &__card {
            margin: 20px;
            padding: 40px;
            border-radius: 25px;
            background-color: $royal-purple;
            color: rgb(206, 206, 206);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 75%;
            text-align: center;
        }
    }

    .card {
        &__img {
            border-radius: 25px;
        }

        &__title {
            padding: 5px;
        }

        &__para {
            text-align: left;
        }
    }

    .projects {
        margin: 20px;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: rgb(206, 206, 206);
        text-align: center;
        background-color: $russian-violet;

        &__card {
            margin: 20px;
            padding: 40px;
            border-radius: 25px;
            background-color: $royal-purple;
            color: rgb(206, 206, 206);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 75%;
            text-align: center;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            transition: 0.2s;

            &:hover {
                box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);

                transform: scale(1.05);
            }
        }
    }
}
