.header__btn {
  width: 30%;
  color: #f8c630;
  font-weight: 800;
  background-color: #e54f6d;
  padding: 10px;
  margin: 20px;
  border: 2px solid rgb(231, 102, 128);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
}
.header__btn:hover {
  background-color: #724e91;
}
.header__btn:active {
  background-color: #451f55;
}

@media only screen and (max-width: 576px) {
  .header__title {
    color: #f8c630;
    margin-top: 50px;
    font-size: 10vw;
  }
  .header__title--secondary {
    margin: 0px;
    font-size: 5vw;
  }
  .about {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(206, 206, 206);
    text-align: center;
    background-color: #451f55;
  }
  .about__card {
    margin: 20px;
    padding: 40px;
    border-radius: 25px;
    background-color: #724e91;
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    text-align: center;
  }
  .card__img {
    border-radius: 25px;
  }
  .card__title {
    padding: 5px;
  }
  .card__para {
    text-align: left;
  }
  .projects {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(206, 206, 206);
    text-align: center;
    background-color: #451f55;
  }
  .projects__card {
    margin: 20px;
    padding: 40px;
    border-radius: 25px;
    background-color: #724e91;
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .projects__card:hover {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}
.navbar {
  background-color: #22162b;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.navbar #links {
  display: none;
  flex-direction: column;
  width: 100vw;
}

.navbar a {
  color: #f8c630;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a.icon {
  background: #724e91;
  display: block;
  position: sticky;
  right: 0;
  top: 0;
}

.navbar a:hover {
  background-color: #e54f6d;
  color: #f8c630;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #22162b;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #451f55;
  width: 100vw;
  height: 100vh;
}
