@use "./partials/button.scss";
@use "./sizes/small.scss";
@use "./sizes/medium.scss";
@use "./sizes/large.scss";
@use "./sizes/xl.scss";
@use "./sizes/xxl.scss";
@use "./partials/nav.scss";

@import "./partials/palette";
@import "./partials/devices";

* {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $dark-purple;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: $russian-violet;
    width: 100vw;
    height: 100vh;
}
